# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# Output files from R CMD build
*.tar.gz

# Output files from R CMD check
*.Rcheck/

# RStudio files
*.Rproj.user/

# produced vignettes
*.html
*.pdf

# documentation
inst/doc
inst/

# object c files
*.o
